<launch>
  <!-- Description-->
  <param name="robot_description" textfile="$(find str1ker)/description/robot.urdf" />

  <!-- Hardware controller configuration -->
  <rosparam file="$(find str1ker)/config/hardware.yaml" />

  <!-- High-level controller configuration -->
  <rosparam file="$(find str1ker_moveit_config)/config/ros_controllers.yaml" />

  <node
    name="arm_node"
    pkg="rosserial_python"
    type="serial_node.py"
    args="/dev/ttyACM0"
    required="true"
    output="screen"
  />

  <!-- Robot controller -->
  <node
    name="robot"
    pkg="str1ker"
    type="robot"
    required="true"
    output="screen"
  />

  <!-- Hardware interface -->
  <node
    name="hardware"
    type="hardware"
    pkg="str1ker"
    output="screen"
  />

  <!-- Hardware controllers -->
  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    args="joint_state_controller arm_velocity_controller"
  />

  <!-- ROS robot state publisher -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false"
    output="screen"
  />
</launch>
