<launch>
  <!-- Description-->
  <param name="robot_description" textfile="$(find str1ker)/description/robot.urdf" />

  <!-- Controller Configuration -->
  <rosparam file="$(find str1ker)/description/controllers.yaml" />

  <!-- Analog/Digital I/O -->
  <!--<node
    name="analog"
    pkg="rosserial_python"
    type="serial_node.py"
    args="/dev/ttyACM0"
    required="true"
    output="screen"
  />-->

  <!-- Controllers -->
  <node
    name="robot"
    pkg="str1ker"
    type="robot"
    required="true"
    output="screen"
  />
</launch>
