<launch>
  <node
    name="robot"
    pkg="str1ker"
    type="robot"
    required="true"
    output="screen"
  >
    <rosparam>
      adc:
        controller: 'arduinoMicro'
        enable: true
        dev: '/dev/ttyACM0'
      arm1:
        controller: 'arm'
        enable: true
        shoulder:
          controller: 'servo'
          enable: true
          gpioLPWM: 22
          gpioRPWM: 23
          encoder:
            controller: 'encoder'
            enable: true
            adc: 'arduinoMicro'
            min: 180
            max: 783
            minAngle: 0
            maxAngle: 180
        upperarm:
          controller: 'linear'
          enable: false
          gpioLPWM: 6
          gpioRPWM: 5
          time: 5
          encoder:
            controller: 'encoder'
            enable: true
            adc: 'arduinoMicro'
            channel: 1
            min: 175
            max: 200
            minAngle: 23.35
            maxAngle: 44.26
        forearm:
          controller: 'linear'
          enable: false
          gpioLPWM: 25
          gpioRPWM: 24
          time: 4
          encoder:
            controller: 'encoder'
            enable: true
            adc: 'arduinoMicro'
            channel: 2
            min: 354
            max: 194
            minAngle: 69.75
            maxAngle: 116.35
        trigger:
          controller: 'solenoid'
          enable: false
          gpio: 16
    </rosparam>
  </node>
</launch>
